/* ----- Reset de CSS e variáveis globais -----*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --container-width-lg: 80%;
    --container-width-sm: 94%;

    --radius-1: 2rem;
    --radius-2: 1.2rem;
    --radius-3: 0.8rem;
    --radius-4: 0.5rem;
    --radius-5: 0.3rem;

    --transition: all 300ms ease;

    --primary-hue: 40;
    --color-primary: hsl(var(--primary-hue), 97%, 58%);
    --color-nav-bg: hsla(var(--primary-hue), 0%, 100%, 0.4);
    --color-gray-100: #fff;
    --color-gray-200: hsl(var(--primary-hue), 0%, 95%);
    --color-gray-300: hsl(var(--primary-hue), 0%, 85%);
    --color-gray-400: hsl(var(--primary-hue), 0%, 70%);
    --color-gray-500: hsl(var(--primary-hue), 0%, 55%);
    --color-gray-600: hsl(var(--primary-hue), 0%, 40%);
    --color-gray-700: hsl(var(--primary-hue), 0%, 25%);
    --color-gray-800: hsl(var(--primary-hue), 0%, 15%);
    --color-gray-900: hsl(var(--primary-hue), 0%, 5%);
}

.dark {
    --color-gray-100: hsl(var(--primary-hue), 0%, 5%);
    --color-gray-200: hsl(var(--primary-hue), 0%, 15%);
    --color-gray-300: hsl(var(--primary-hue), 0%, 30%);
    --color-gray-400: hsl(var(--primary-hue), 0%, 40%);
    --color-gray-500: hsl(var(--primary-hue), 0%, 50%);
    --color-gray-600: hsl(var(--primary-hue), 0%, 60%);
    --color-gray-800: hsl(var(--primary-hue), 0%, 80%);
    --color-gray-900: hsl(var(--primary-hue), 0%, 100%);

    --color-nav-bg: hsla(var(--primary-hue), 0%, 0%, 0.4);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-gray-100);
    color: var(--color-gray-800);
    line-height: 1.7;
    font-weight: 300;
}

.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
    line-height: 1;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
}

.btn {
    background: var(--color-gray-200);
    color: var(--color-gray-900);
    font-weight: 500;
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: var(--radius-3);
    width: fit-content;
    cursor: pointer;
    transition: var(--transition);
}

.btn.sm {
    padding: 0.4rem 1rem;
    font-weight: 400;
    border-radius: var(--radius-4);
}

.btn.primary {
    background: var(--color-primary);
    color: white;
}

.btn:hover {
    background: var(--color-gray-900);
    color: var(--color-gray-100);
}

section {
    padding: 9rem 0;
}

section > h1, section > p {
    width: 50%;
    text-align: center;
    margin-inline: auto;
}

section > h1 {
    margin-bottom: 0.5rem;
}

section:nth-child(odd) {
    background: var(--color-gray-200);
}

/* ----- Nav ----- */
.nav__main {
    background-color: var(--color-nav-bg);
    border-bottom: 1px solid var(--color-gray-300);
    display: grid;
    place-items: center;
    height: 3.8rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
    z-index: 10;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 3.5rem;
    aspect-ratio: 1/1;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__menu a {
    color: var(--color-gray-900);
}

.nav__toggle-open, .nav__toggle-close {
    display: none;
}

.nav__theme-btn {
    color: var(--color-gray-900);
    background: transparent;
    font-size: 1.4rem;
    cursor: pointer;
}

/* ----- Header ----- */
.header {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.header__container {
    margin-top: 3rem;
    position: relative;
}

.header__image {
    width: 14rem;
    margin-inline: auto;
}

.header__image img {
    height: 100%;
}

.header__content {
    text-align: center;
    margin-top: 2rem;
    width: 40rem;
    margin-inline: auto;
}

.header__content h1 {
    margin-bottom: 0.7rem;
}

.header__content p {
    margin: 0.8rem 0 2rem;
}

.header__cta {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.header__socials {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.header__socials a {
    background: var(--color-gray-200);
    color: var(--color-gray-900);
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: var(--radius-4);
    transition: var(--transition);
}

.header__socials a:hover {
    background: var(--color-primary);
    color: var(--color-gray-100);
    transform: translate(-0.5rem);
}

/* ----- Highlights ----- */
.highlights__content {
    text-align: center;
    margin-top: 2rem;
    margin-inline: auto;
}

.highlights__content h1 {
    margin-bottom: 0.7rem;
}

.highlights__content p {
    margin: 0.8rem 0 2rem;
}

.highlights__image img {
    width: 10rem;
    margin: auto;
}

.highlights .swiper .team__container img {
    width: 5rem;
    margin: auto;
}

.highlights .swiper .table__title {
    text-align: center;
}

.highlights .swiper .table__title h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.highlights .swiper .table__title p {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.highlights .swiper .departure__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.highlights .swiper .team__container {
    display: block;
    align-items: center;
    padding: 1.2rem;
}

.highlights .swiper .team__container img {
    width: 8rem;
}

.highlights .swiper .team__container figcaption {
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.highlights .swiper .scoreboard {
    margin: 0.6rem;
    display: flex;
    align-items: center;
}

.highlights .swiper .scoreboard .score {
    font-size: 2.5rem;
    font-weight: 600;
}

.highlights .swiper .scoreboard .divider {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.5rem;
}

.card__button {
    display: flex;
    justify-content: center;
    margin: 1.25rem;
}

.card__button button {
    padding: 1.25;
    background: var(--color-primary);
    font-weight: 700;      
}

.card__button button a {
    color: var(--color-gray-100);
}

.swiper {
    background-color: transparent;
    width: var(--container-width-lg);
}

.swiper-wrapper {
    margin-top: 4rem;
    /* style pagination */
    padding-bottom: 3rem;
    height: fit-content;
}

.swiper-slide {
    background: var(--color-gray-100);
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    height: fit-content;
    cursor: default;
    user-select: none;
    transition: var(--transition);
}

.swiper-slide:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.swiper-pagination-bullet {
    background: var(--color-primary);
}

/* ----- Supporters ----- */
.clients {
    text-align: center;
}

.clients__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.clients__container div {
    background-color: var(--color-gray-200);
    display: grid;
    place-items: center;
    height: 8rem;
    padding: 3rem;
    margin-top: 20px;
    transition: all 300ms ease;
}

.clients__container div:hover {
    background-color: var(--color-gray-100);
}

.clients__content {
    text-align: center;
    margin-top: 2rem;
    margin-inline: auto;
}

.clients__content h1 {
    margin-bottom: 0.7rem;
}

.clients__content p {
    margin: 0.8rem 0 2rem;
}


.clients__container img {
    width: 300px;
}

/* ----- Downloads ----- */
.downloads__container {
    text-align: center;
}

.downloads__content {
    margin-top: 2rem;
    width: 40rem;
    margin-inline: auto;
}

.downloads__content h1 {
    margin-bottom: 0.7rem;
}

.downloads__content p {
    margin: 0.8rem 0 2rem;
}

.downloads__container .cta {
    margin-top: 3rem;
}

.downloads__container .cta a {
    margin: 0 0.5rem 0 0.5rem;
}

/* ----- Classification / Groups ----- */
.container__classification {
    margin-top: 3rem;
}

.classification__content {
    margin-top: 2rem;
    text-align: center;
    width: 40rem;
    margin-inline: auto;
}

.classification__content h1 {
    margin-bottom: 0.7rem;
}

.classification__content p {
    margin: 0.8rem 0 2rem;
}

.container__classification form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
    outline: none;
    font-size: 0.8rem;
}

.container__classification form label {
    font-size: 0.9rem;
}

.container__classification select {
    background-color: var(--color-primary);
    color: var(--color-gray-100);
    padding: 0.5rem 2rem 0.5rem;
    font-size: 0.8rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-left: 0.6rem;
    border-radius: 0.3rem;
}

.container__classification table {
    background: var(--color-gray-200);;
    width: 100%;
    height: 19rem;
    border: 2px solid var(--color-gray-200);
    border-radius: 0.5rem;
}

.container__classification table:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.container__classification table th {
    padding: 0.5rem;
    color: var(--color-primary);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    border-bottom: 2px solid var(--color-primary);
}

.container__classification h2 {
    margin: 2rem 0 2rem 0;
    text-align: center;
    color: var(--color-primary);
}

.container__classification table td {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom: 2px solid var(--color-gray-100);
}
  
.container__classification table tr:last-child td {
    border: 0;
}

/* ----- First Phase ----- */
.firstPhase__content {
    text-align: center;
    margin-top: 2rem;
    width: 40rem;
    margin-inline: auto;
}

.table__games {
    margin-top: 3rem;
}
  
.table__games div{
    padding: 0.3rem;
}

.table__games .container__games {
    background-color: var(--color-gray-100);
    margin-top: 2rem;
    border-radius: 0.6rem;
}

.table__games .container__games:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.firstPhase__content h1 {
    margin-bottom: 0.7rem;
}

.firstPhase__content p {
    margin: 0.8rem 0 2rem;
}

.firstPhase__container .table__title img {
    width: 10rem;
    margin: auto;
}

.firstPhase__container .table__title {
    text-align: center;
}

.firstPhase__container .team__container img {
    width: 8rem;
    margin: auto;
}

.firstPhase__container .table__title h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.firstPhase__container .table__title p {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
}

.firstPhase__container .departure__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.firstPhase__container .team__container {
    display: block;
    align-items: center;
    padding: 1.2rem;
}

.firstPhase__container .team__container figcaption {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600;
}

.firstPhase__container .scoreboard {
    margin: 0.6rem;
    display: flex;
    align-items: center;
}

.firstPhase__container .scoreboard .score {
    font-size: 2.5rem;
    font-weight: 600;
}

.firstPhase__container .scoreboard .divider {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.5rem 0 0.5rem;
}

.firstPhase__container .card__button a {
    margin-bottom: 1.5rem;
}

/* ----- Quarters ----- */
.quarters__content {
    text-align: center;
    margin-top: 2rem;
    width: 40rem;
    margin-inline: auto;
}

.quarters__content h1 {
    margin-bottom: 0.7rem;
}

.quarters__content p {
    margin: 0.8rem 0 2rem;
}

.quarters__container .cards {
    margin-top: 3rem;
}
  
.quarters__container .cards .container__games{
    padding: 0.3rem;
    background: var(--color-gray-200);
    margin-top: 2rem;
    border-radius: 0.6rem;
}

.quarters__container .container__games:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.quarters__container .table__title img {
    width: 10rem;
    margin: auto;
}

.quarters__container .table__title {
    text-align: center;
}

.quarters__container .team__container img {
    width: 8rem;
    margin: auto;
}

.quarters__container .table__title h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.quarters__container .table__title p {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
}

.quarters__container .table__title time {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
}

.quarters__container .departure__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.quarters__container .team__container {
    display: block;
    align-items: center;
    padding: 1.2rem;
}

.quarters__container .team__container figcaption {
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.quarters__container .scoreboard {
    margin: 0.6rem;
    display: flex;
    align-items: center;
}

.quarters__container .scoreboard .score {
    font-size: 2.5rem;
    font-weight: 600;
}

.quarters__container .scoreboard .divider {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.5rem 0 0.5rem;
}

/* ----- Semifinais ----- */
.semifinais__content {
    text-align: center;
    margin-top: 2rem;
    width: 40rem;
    margin-inline: auto;
}

.semifinais__content h1 {
    margin-bottom: 0.7rem;
}

.semifinais__content p {
    margin: 0.8rem 0 2rem;
}

.semifinais__categories {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 2.5rem;
    flex-wrap: wrap;
}

.semifinais__categories li {
    background: var(--color-gray-100);
    padding: 0.6rem 1.5rem;
    border-radius: var(--radius-4);
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    transition: var(--transition);
}

.semifinais__categories li:hover, 
li.mixitup-control-active {
    background: var(--color-primary);
    color: var(--color-gray-100);
} */

.semifinais__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border: 1px solid red;
}

.semifinal {
    background: var(--color-gray-100);
    padding: 1.5rem;
    margin-bottom: 0.8rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
    /* mixitup animations */
    opacity: 0;
    animation: identifier 1.5s ease forwards;
}

@keyframes identifier {
    to {
        opacity: 1;
    }
}

.semifinal:hover {
    box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.1);
}

.semifinais__cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
}

.semifinais__container .table__title img {
    width: 10rem;
    margin: auto;
}

.semifinais__container .table__title {
    text-align: center;
}

.semifinais__container .team__container img {
    width: 8rem;
    margin: auto;
}

.semifinais__container .table__title h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.semifinais__container .table__title p {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
}

.semifinais__container .table__title time {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
}

.semifinais__container .departure__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.semifinais__container .team__container {
    display: block;
    align-items: center;
    padding: 1.2rem;
}

.semifinais__container .team__container figcaption {
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.semifinais__container .scoreboard {
    margin: 0.6rem;
    display: flex;
    align-items: center;
}

.semifinais__container .scoreboard .score {
    font-size: 2.5rem;
}

.semifinais__container .scoreboard .divider {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.5rem 0 0.5rem;
}

/* ----- Final ----- */
.final__content {
    text-align: center;
    margin-top: 2rem;
    width: 40rem;
    margin-inline: auto;
}

.final__content h1 {
    margin-bottom: 0.7rem;
}

.final__content p {
    margin: 0.8rem 0 2rem;
}

.final__container .cards {
    margin-top: 3rem;
}
  
.final__container .cards .container__games{
    padding: 0.3rem;
    background: var(--color-gray-200);
    margin-top: 2rem;
    border-radius: 0.6rem;
}

.final__container .table__title img {
    width: 10rem;
    margin: auto;
}

.final__container .table__title {
    text-align: center;
}

.final__container .cards .container__games:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.final__container .team__container img {
    width: 8rem;
    margin: auto;
}

.final__container .table__title h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.final__container .table__title p {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
}

.final__container .table__title time {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
}

.final__container .departure__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.final__container .team__container {
    display: block;
    align-items: center;
    padding: 1.2rem;
}

.final__container .team__container figcaption {
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.final__container .scoreboard {
    margin: 0.6rem;
    display: flex;
    align-items: center;
}

.final__container .scoreboard .score {
    font-size: 2.5rem;
}

.final__container .scoreboard .divider {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.5rem 0 0.5rem;
}

/* ----- Footer ----- */
footer {
    background: hsl(var(--primary-hue), 5%, 5%);
    padding-top: 7rem;
    border-top: 2px solid hsl(var(--primary-hue), 5%, 25%);
}

.footer__menu ul {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.footer__menu a {
    color: hsl(var(--primary-hue), 5%, 70%);
    transition: var(--transition);
}

.footer__menu a:hover {
    color: #fff;
}

.footer__socials ul {
    width: fit-content;
    display: flex;
    gap: 1.5rem;
    margin: 3rem auto 4rem;
}

.footer__socials a {
    background: #fff;
    color: rgba(16, 1, 31);
    padding: 0.6rem;
    display: flex;
    border-radius: 10%;
    transform: var(--transition);
}

.footer__socials a:hover {
    background: var(--color-primary);
    color: #fff;
    opacity: 0.7;
    transform: translateY(-0.5rem);
}

.footer__copyright {
    color: hsl(var(--primary-hue), 5%, 70%);
    text-align: center;
    border-top: 22px solid hsl(var(--primary-hue), 5%, 25%);
    padding: 1.5rem 0;
}

/* ===== Media Queries: Responsive Layout ===== */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    p, a {
        font-size: 1rem;
    }

    .container {
        width: var(--container-width-sm);
    }

    section {
        padding: 7rem 0;
    }

    section > h1, section > p {
        width: var(--container-width-sm);
    }

    .nav__menu {
        position: fixed;
        right: 0;
        top: 3.8rem;
        flex-direction: column;
        gap: 0;
        width: fit-content;
        display: none;
        perspective: 250px;
    }

    .nav__menu li {
        width: 100%;
    }

   .nav__menu li a {
        background: var(--color-gray-200);
        padding: 1rem 4rem;
        width: 100%;
        display: block;
        border-top: 1px solid var(--color-gray-300);
        text-align: center;
        box-shadow: -2rem 5rem 5rem rgba(0, 0, 0, 0.3);
    }

    .nav__toggle-open, .nav__toggle-close {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-gray-900);
    }

   .nav__toggle-close {
        display: none;
    }

   .nav__buttons {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

   .nav__menu li {
        transform: rotateX(90deg);
        opacity: 0;
        animation: navKey 500ms ease-in-out forwards;
        transform-origin: top;
    }

   .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

   .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }

   .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
    }

   .nav__menu li:nth-child(5) {
        animation-delay: 800ms;
    }

   .nav__menu li:nth-child(6) {
        animation-delay: 1000ms;
    }

   @keyframes navKey {
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
    }

    .header {
        height: 115vh;
    }

   .header__content {
        width: var(--container-width-sm);
        padding-bottom: 3rem;
    }

   .header__socials {
        display: none;
    }

   .header__image {
        width: 40vh;
        aspect-ratio: 4/5;
    }

   .header__cta a {
        font-size: 0.8rem;
    }

   .highlights__content {
        width: var(--container-width-sm);
    }

   .highlights .swiper .team__container img {
        width: 5rem;    
    }

    .highlights .swiper .team__container figcaption {
        font-size: 0.8rem;    
    }

    .swiper {
        width: var(--container-width-sm);
    }

    .swiper-wrapper {
        padding-bottom: 3rem;
    }

    .swiper-slide {
        padding: 1.5rem;
    }

    .clients__container {
        display: grid;
        width: var(--container-width-sm);
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .clients__content {
        width: var(--container-width-sm);
    }

    .clients__container img {
        width: 15rem;
    }

    .downloads__container {
        width: var(--container-width-sm);
    }

    .downloads__content {
        width: var(--container-width-sm);
    }

    .downloads .cta a {
        margin: 0.4rem;
    }

    .classification__content {
        width: var(--container-width-sm);
    }

    .container__classification table th {
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: 700;
    }

    .container__classification table td {
        padding: 0.5rem;
        font-size: 0.7rem;
        font-weight: 500;
        border-bottom: 2px solid var(--color-gray-100);
    }

    .firstPhase__content {
        width: var(--container-width-sm);
    }

    .firstPhase__container .team__container img {
        width: 5rem;
    }

    .quarters__container .team__container img {
        width: 5rem;
    }

    .quarters__content {
        width: var(--container-width-sm);
    }

    .semifinais__content {
        width: var(--container-width-sm);
    }

    .semifinais__categories {
    gap: 0.7rem;
   }

   .semifinais__categories li {
    padding: 0.8rem 1rem;
   }

   .semifinais__container {
    gap: 1rem;
    grid-template-columns: 1fr;
   }

   .semifinais__container .team__container img {
        width: 5rem;
    }

   .final__content {
        width: var(--container-width-sm);
    }

    .final__container .team__container img {
        width: 5rem;
    }

   .footer__menu ul {
        flex-direction: column;
        grid-area: 1.6rem;
        align-items: center;
   }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .nav__menu {
        gap: 1.5rem;
    }

    .quarters__container .cards {
        grid-template-columns: 1fr;
    }

    .clients__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .semifinais__container {
        grid-template-columns: 1fr;
    }

    .nav__menu li a {
        gap: 0px;
   }
}